.card{
    transition: 300ms;
    padding: 2rem 0 !important;

    &:hover{
    box-shadow: 1px 1px 20px 10px #DBC587;
}
    img{
        width:150px;
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    h5{
        white-space: nowrap;
        text-overflow:ellipsis; 
        // width: 70%;
        // height: 100px;
        overflow: hidden;
    }


    
}